<!DOCTYPE html>
<html>
  <head>
    <title>Safe Vault</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Safe Vault</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('login')}}">Create Login</a> |
          <a href="{{ url_for('signin')}}">Sign-In</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
      <p>
        Having any trouble? Contact XX-XXXX-XXXX.
      </p>
      </footer>
    </div>
  </body>
</html>
