
 

{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Edit a record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Your name:
    <input type="text" id="name" name="name" value="{{doc.name}}" /><br />
  </p>
  <p>
    Place:
    <input type="text" id="place" name="place" value="{{doc.place}}" /><br />
  </p>
  <p>
    Address:
    <textarea id="address" name="address">{{doc.address}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}