{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p>Welcome to Travel List! We are thrilled to be your guide on your 
    journey. Whether you are an experienced traveler or embarking on your 
    first adventure, our app is designed to make your travel experience 
    as seamless and enjoyable as possible. With our comprehensive guides, 
    you will discover the best places to eat, stay, and explore in your 
    destination city. Our app is equipped with features to help you plan 
    your itinerary, book accommodations, and even find local deals and 
    discounts. We believe that travel is a transformative experience 
    and we are committed to helping you make the most of your journey. 
    So sit back, relax, and let us take you on a journey of a lifetime.

    <img src="/web-app-hidden/images/image1.jpg" alt="https://wheresmybackpack.com/2014/07/18/travel-theme-purple/">
</p>
{% endblock %}