{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p> Welcome to the Boston. Here is the app that will help you 
    create a travelling list while you are in Boston. As ChatGPT would describe, Bsoton, 
    <ul>
        <li><a href="{{ url_for('read')}}">a page that displays information pulled from a MongoDB database collection</a></li>
        <li><a href="{{ url_for('create')}}">a page with a form you can submit to create a new record in a MongoDB collection</a></li>
    </ul>
</p>
{% endblock %}