{% extends 'base.html' %} {% block container %}

<h2>Create Login</h2>
<p>Please create an account. 
  If you have been redirected to this page, that means the account does not exist. 
  Please go back to sign-in and put the right credentials or try creating a new account.
</p>
<form method="POST" action="{{ url_for('create_login') }}">
  <p>Email: <input type="text" id="femail" name="femail" /><br /></p>
  <p>Password: <input type="text" id="floginpassword" name="floginpassword" /><br /></p>

  <p>
    <a href="{{ url_for('home')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Create" />
  </p>
</form>
{% endblock %}
