{% extends 'base.html' %}

{% block container %}
<h2>Boston</h2>
<p>As our new AI would describe, Boston

    <div>
        <hr class="solid">
        <p class="post">
            Posted by {{doc.placeb}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            </br>
        </p>
        <p>
            {{ doc.addressb }}
        </p>
            
    </div>
    {%endfor%}
</p>
{% endblock %}